<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FowlTyphoidMonitor"
        tools:targetApi="31">


        <!-- Activities with screen support -->

        <!-- LauncherActivity - Main entry point for user routing -->
        <activity
            android:name=".ui.auth.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.FowlTyphoidMonitor"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Selection Activity -->
        <activity
            android:name=".ui.auth.LoginSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.FowlTyphoidMonitor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ui.auth.LauncherActivity" />

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.FowlTyphoidMonitor"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ui.auth.LoginSelectionActivity" />

        <activity
            android:name=".ui.auth.RegisterSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.FowlTyphoidMonitor"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ui.auth.LoginActivity" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.FowlTyphoidMonitor"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ui.auth.RegisterSelectionActivity" />

        <!-- Farmer Activities -->
        <activity
            android:name=".ui.farmer.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.FowlTyphoidMonitor" />
        <activity
            android:name=".ui.farmer.TyphoidEducationActivity"
            android:exported="false"
            android:label="Elimu kuhusu Typhoid ya Kuku"
            android:parentActivityName=".ui.farmer.MainActivity" />
        <activity
            android:name=".ui.farmer.FarmerReportsActivity"
            android:exported="false"
            android:parentActivityName=".ui.farmer.MainActivity" />
        <activity
            android:name=".ui.farmer.FarmerConsultationsActivity"
            android:exported="false"
            android:parentActivityName=".ui.farmer.MainActivity" />
        <activity
            android:name=".ui.farmer.RequestConsultationActivity"
            android:exported="false"
            android:label="Omba Ushauri"
            android:parentActivityName=".ui.farmer.FarmerConsultationsActivity" />
        <activity
            android:name=".ui.farmer.FarmerConsultationActivity"
            android:exported="false"
            android:label="Ushauri wa Mtaalamu"
            android:parentActivityName=".ui.farmer.MainActivity" />
        <activity
            android:name=".ui.farmer.ReportSymptomsActivity"
            android:exported="false"
            android:parentActivityName=".ui.farmer.MainActivity" />

        <!-- Admin/Advisor Activities -->
        <activity
            android:name=".ui.vet.AdminMainActivity"
            android:exported="false"
            android:theme="@style/Theme.FowlTyphoidMonitor" />
        <activity
            android:name=".ui.advisor.AdvisorConsultationActivity"
            android:exported="false"
            android:label="Ushauri kwa Mfugaji"
            android:parentActivityName=".ui.vet.AdminMainActivity" />
            
        <!-- Legacy activity, to be deprecated -->
        <activity
            android:name=".ui.admin.AdminConsultationActivity"
            android:exported="false"
            android:label="Mazungumzo na Daktari"
            android:parentActivityName=".ui.farmer.MainActivity" />

        <!-- Vet Consultation System Activities -->
        <activity
            android:name=".ui.vet.VetConsultationInboxActivity"
            android:exported="false"
            android:label="Mahojiano ya Wafugaji"
            android:parentActivityName=".ui.vet.AdminMainActivity" />

        <activity
            android:name=".ui.vet.VetConsultationChatActivity"
            android:exported="false"
            android:label="Mazungumzo na Mfugaji"
            android:parentActivityName=".ui.vet.VetConsultationInboxActivity" />

        <activity
            android:name=".ui.vet.VetBroadcastMessageActivity"
            android:exported="false"
            android:label="Tuma Ujumbe kwa Wafugaji"
            android:parentActivityName=".ui.vet.VetConsultationInboxActivity" />

        <!-- Admin/Vet Activities -->
        <activity
            android:name=".ui.vet.AdminConsultationsActivity"
            android:exported="false"
            android:label="Mahojiano ya Wafugaji"
            android:parentActivityName=".ui.vet.AdminMainActivity" />

        <!-- Common Activities -->
        <activity
            android:name=".ui.common.DiseaseInfoActivity"
            android:exported="false"
            android:parentActivityName=".ui.farmer.MainActivity" />
        <activity
            android:name=".ui.common.SymptomTrackerActivity"
            android:exported="false"
            android:parentActivityName=".ui.farmer.MainActivity" />
        <activity
            android:name=".ui.common.ReminderActivity"
            android:exported="false"
            android:parentActivityName=".ui.farmer.MainActivity" />
        <activity
            android:name=".ui.common.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".ui.farmer.MainActivity" />
        <activity
            android:name=".ui.common.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".ui.farmer.MainActivity" />
        <activity
            android:name=".ui.farmer.FarmerProfileEditActivity"
            android:exported="false"
            android:parentActivityName=".ui.common.ProfileActivity" />
        <activity
            android:name=".ui.vet.AdminProfileEditActivity"
            android:exported="false"
            android:label="Hariri Taarifa"
            android:parentActivityName=".ui.common.ProfileActivity" />
        <activity
            android:name=".ui.common.HistoryActivity"
            android:exported="false"
            android:parentActivityName=".ui.common.ProfileActivity" />

    </application>

</manifest>